/* This file is for your main application css. */

@import "./phoenix.css";

.two-col {
    overflow: hidden;/* Makes this div contain its floats */
}

.two-col .col1,
.two-col .col2 {
    width: 35%;
}

.two-col .col1 {
    float: left;
    margin: 0 20px 0 0;
}

.two-col .col2 {
    float: left;
    margin: 0 20px 0 0;
}

.button-link {
    background-color: #0069d9;
    border: 0.1rem solid #0069d9;
    border-radius: .4rem;
    color: #fff;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
    height: 3.8rem;
    letter-spacing: .1rem;
    line-height: 3.8rem;
    padding: 0 3.0rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.button-link:hover {
    background-color: #606c76;
    border-color: #606c76;
    color: #fff;
    outline: 0;
}

.horisontal-row {
    display: block;
    overflow: hidden;
}

.horisontal-row > * {
    float: left;
}

.horisontal-row .row-right {
    float: right;
    margin: 0 1rem 0 0;
}

#singer2 {
    display: none;
}

#singer3 {
    display: none;
}

button.small {
    padding: 0 1.5rem;
}

button.warning, a.button-link.warning {
    background-color: red;
    border-color: red;
}

button.big, .button-link.big {
    font-size: 1.3rem;
    height: 5rem;
    padding: 0 4rem;
    line-height: 5rem;
    letter-spacing: .2rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 40rem;
    margin-bottom: 2rem;
}

button.thin, .button-link.thin {
    padding: 0 1.2rem;
}

header {
    background-color: #000;
    border-bottom: 0;
}

header img {
    padding-bottom: 3rem;
    padding-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0;
}

main {
    margin-bottom: 2rem;
}

footer {
    color: white;
    background-color: #111;
    padding: 1.5rem;
    margin-top: 4rem;
    font-size: small;
}

footer a {
    text-decoration: underline;
    color: inherit;
}