<h3>De senast spelade låtarna:</h3>
<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Låt</th>
    </tr>
  </thead>
  <tbody>
<%= for past <- @pastsongs do %>
    <tr>
      <td><%= past.request.song.artist %></td>
      <td><%= past.request.song.song %></td>
    </tr>
<% end %>
  </tbody>
</table>

<h3>Kommande låtar:</h3>
<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Låt</th>
    </tr>
  </thead>
  <tbody>
<%= for song <- @setsongs do %>
    <tr>
      <td><%= song.request.song.artist %></td>
      <td><%= song.request.song.song %></td>
    </tr>
<% end %>
  </tbody>
</table>