<h1>Din önskning är inskickad!</h1>

<ul>

  <li>
    <strong>Sångare</strong><br>
    <%= singer_name(@request, 1) %><br>
    <%= singer_name(@request, 2) %><br>
    <%= singer_name(@request, 3) %>
  </li>

  <li>
    <strong>Låt</strong><br>
    <%= @request.song.artist <> " - " <> @request.song.song %>
  </li>

</ul>

<%= link "Ta mig till spellistan!", to: Routes.request_path(@conn, :index), class: "button-link" %>

